.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1vh; /* Replaced px with % */
  padding-right: 1vh; /* Replaced px with % */
}

.hero-section {
  background-color: #f6efd6;
  padding-bottom: 1vh; /* Replaced px with % */
}

body {
  padding-top: 10vh;
}