.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0%; /* Replaced px with % */
  padding-bottom: 0%; /* Replaced px with % */
}

.hero-section {
  background-color: black;
}

body {
  padding-top: 10vh;
}