nav {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #020202;
  color: #e2ebec;
  font-size: 150%;
  font-family: 'Bangers', sans-serif;
  align-items: center;
}

.nav-logo {
  font-size: 150%;
  font-weight: 900; /* Use a bold weight to make the font thicker */
}

.nav-logo span {
  color: #ff516b;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #e2ebec;
  font-weight: bold;
}