/* Navbar container styles */
nav {
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Align it to the top */
  left: 0; /* Align it to the left */
  height: 60px;
  width: 100%; /* Make it span the entire width */
  z-index: 1000; /* Ensure it stays above other elements */
  display: flex;
  justify-content: center; /* Center the links */
  align-items: center;
  background-color: #020202; /* Dark background color */
  font-family: 'Bangers', sans-serif; /* Comic-style font */
}

/* Link container styles */
.nav-links {
  display: flex; /* Align links horizontally */
}

/* Link styles */
.nav-links a {
  letter-spacing: 1px;
  margin: 0 20px;
  text-decoration: none;
  color: #e2ebec;
  font-weight: bold;
  font-size: 150%;
  padding: 2px 3px;
  transition: transform 0.2s ease, color 0.3s;
  position: relative;
  display: inline-block;
}

/* Hover effect */
.nav-links a:hover {
  transform: scale(1.1) skewX(10deg); /* Apply slant effect and shift text slightly to the left */
}

/* Rectangle (background) styling */
.nav-links a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ee1923; /* Red background */
  z-index: -1; /* Place the background behind the text */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.2s ease; /* Fade-in effect */
  border-radius: 0; /* Squared corners */
  transform: skewX(-10deg); /* Skew the rectangle */
}

.nav-text:hover::before {
  content: " PAGE";
  position: absolute;
  left: 100%; /* Position the "PAGE" text immediately after the original text */
  margin-left: 5px; /* 5px offset to the right of the original text */
  bottom: 1px;
  color: white;
  font-weight: normal;
  font-size: 100%;
  border-top: 2px solid white; /* Line above "PAGE" */
  border-bottom: 2px solid white; /* Line below "PAGE" */
  transform: skewX(-10deg); /* Skew the rectangle */
}

.nav-text:hover::before {
  content: " PAGE";
  position: absolute;
  left: 100%; /* Position the "PAGE" text immediately after the original text */
  margin-left: 5px; /* 5px offset to the right of the original text */
  bottom: 1px;
  color: white;
  font-weight: normal;
  font-size: 100%;
  border-top: 2px solid white; /* Line above "PAGE" */
  border-bottom: 2px solid white; /* Line below "PAGE" */
  transform: skewX(-10deg); /* Skew the rectangle */
}

.nav-links a:hover::after {
  opacity: 1; /* Fade the background in on hover */
}

.nav-text:hover {
  padding-right: 4px;
}

/* Added: */
.nav-links a:hover ~ a,
.nav-links a:hover ~ a ~ a {
  justify-content: space-evenly; /* Spread out other items */
}

/* Fixing hover behavior for shifting links around */
.nav-links a:hover ~ a {
  transform: translateX(50px);/* Move right */
}