.comic-panel {
    position: relative;
    border: 4px solid black;
    margin-left: 5px;
    overflow: hidden;
}

.comic-dots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 20%, rgba(0, 0, 0, 0) 20%);
    background-size: 20px 20px;
    /* Size of the dots */
    opacity: 0.5;
    /* Dots transparency */
    pointer-events: none;
    /* Prevent interaction with dots */
    z-index: 1;
}